* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.parallax {
  background-image: url("../img/freedom.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.parallax p {
  width: 500px;
  font-size: 64px;
  color: #ffffff;
  position: absolute;
  top: 300px;
  left: 850px;
}

.info-covid {
  width: 100%;
  background-color: #f7f7f7;
  padding: 16px 0;
  text-align: center;
  font-weight: 300;
}

.info-covid a {
  color: #000000;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-cab {
  margin: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 100%;
}

.menu-cab p {
  font-size: 32px;
  font-weight: 900;
  color: #f45c43;
}

.menu-cab nav ul {
  display: flex;
  justify-content: flex-end;
}

.menu-cab nav ul li {
  list-style: none;
  margin-right: 4px;
}

.menu-cab nav ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 16px;
  color: #000000;
}

.menu-cab nav ul li a:hover {
  border-radius: 32px;
  background-color: #f7f7f7;
  padding: 16px;
}

.menu-cab .button {
  border: 1px solid #f0f0f0;
  border-radius: 32px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.menu-cab .button:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.24);
}

.sub-menu {
  margin-bottom: 32px;
}

.sub-menu nav ul {
  display: flex;
}

.sub-menu nav ul li {
  list-style: none;
}

.sub-menu nav ul li a {
  text-decoration: none;
  margin-right: 24px;
  padding-bottom: 8px;
  color: #000000;
}

.sub-menu nav ul li a:hover {
  color: #555555;
}

.sub-menu nav ul li:nth-child(1) a {
  border-bottom: 3px black solid;
}

.search {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .vl {
  border-left: 1px solid #f0f0f0;
  height: 64px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 64px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid rgba(240, 240, 240, 0);
}

.input-group:hover {
  border: 2px solid rgba(200, 200, 200, 1);
}

.input-group:nth-child(7):hover {
  border: 2px solid rgba(200, 200, 200, 0);
}
.input-group label {
  font-size: 12px;
  font-weight: 500;
}

.input-group input[type="text"],
.input-group input[type="date"] {
  border: none;
}
.input-group:nth-child(7) {
  width: 300px;
}
.input-group button {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
}

.input-group button img {
  width: 24px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content {
  width: 320px;
  height: 400px;
  background-color: #dddddd;
  position: relative;
  border-radius: 16px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 36px;
}

.card-content img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.card-header {
  position: absolute;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  top: 0;
  right: 0;
  width: 100%;
  color: #dddddd;
  text-align: center;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-header h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.card-header p {
  font-size: 16px;
}

.price {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  color: #dddddd;
  width: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  margin-top: 32px;
  font-size: 11px;
  background-color: #f7f7f7;
  padding: 16px 0;
  text-align: center;
  font-weight: 500;
}
